Repository GoogleCloudPlatform/emblem, changes with the labels that .github/labeler.yml gives for each.
All labels: component: website, component: content-api, component: delivery, component: demo services, documentation, tech: gha, persona: maintainer

chore(deps): update dependency @rollup/plugin-node-resolve to ^13.3.0 (#437)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency google-cloud-firestore to v2.5.2
  content-api/requirements.txt
Labels: component: content-api

chore(deps): update dependency prettier to ^2.6.2 (#441)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency @rollup/plugin-commonjs to ^21.1.0 (#436)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency google.auth to v1.35.0
  content-api/requirements.txt
Labels: component: content-api

fix(deps): update dependency http-proxy-middleware to ^2.0.6 (#432)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency @web/dev-server to ^0.1.31 (#425)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

fix(deps): update dependency lit to ^2.2.5
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency @web/dev-server-rollup to ^0.3.17
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency @web/dev-server-rollup to ^0.3.17 (#429)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

fix(deps): update dependency @reduxjs/toolkit to ^1.8.2 (#431)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency google.auth to v1.35.0 (#443)
  content-api/requirements.txt
Labels: component: content-api

chore(deps): update dependency eslint-config-prettier to ^8.5.0 (#440)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency google-cloud-firestore to v2.5.2 (#442)
  content-api/requirements.txt
Labels: component: content-api

chore(deps): update dependency @web/rollup-plugin-html to ^1.10.3 (#430)
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

session buckets: rm -> import
  setup.sh
  terraform/cleanup.sh
Labels: component: delivery

delete iam imports
  setup.sh
Labels: component: delivery

typo
  setup.sh
Labels: component: delivery

.github/labeler.yml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the 'License');
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an 'AS IS' BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Labeler assigns GitHub labels to PRs based on changed files.

# component labels are used in release notes.
'component: website':
- 'website/*'
- 'website/**/*'
- 'client-libs/*'
- 'client-libs/**/*'
'component: content-api':
- 'content-api/*'
- 'content-api/**/*'
- 'client-libs/*'
- 'client-libs/**/*'
'component: delivery':
- 'terraform/*'
- 'terraform/**/*'
- 'ops/*'
- 'ops/**/*'
- 'scripts/*'
- 'scripts/**/*'
- 'setup.sh'
'component: demo services':
- 'docs/*'
- 'docs/**/*'
- 'content-api/data/*'
- 'content-api/data/**/*'

# The following labels are under general use evaluation.

'documentation':
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

'tech: gha':
- '.github/workflows/*'
- '.github/labeler.yml'
- '.github/release.yml'

'persona: maintainer':
- '*.md'
- 'CODEOWNERS'
- '.git*'
- '.github/*'
- '.github/**/*'
