Repository GoogleCloudPlatform/emblem, changes with the labels that .github/labeler.yml gives for each.
All labels: component: website, component: content-api, component: delivery, component: demo services, documentation, tech: gha, persona: maintainer

print out exec'd cmd
  setup.sh
Labels: component: delivery

Use website SA
  setup.sh
Labels: component: delivery

typo
  setup.sh
Labels: component: delivery

feat(delivery): move common app setup to script file
  scripts/setup_app_project.sh
Labels: component: delivery

fix(ops): remove stray comma
  terraform/cleanup.sh
Labels: component: delivery

feat(ops): clean up Cloud Run-related topics
  terraform/cleanup.sh
Labels: component: delivery

fix(ops): remove stray comma (#420)
  terraform/cleanup.sh
Labels: component: delivery

feat(ops): add testing image (#385)
  ops/e2e-deployer/Dockerfile
Labels: component: delivery

feat(ops): clean up Cloud Run-related topics (#421)
  terraform/cleanup.sh
Labels: component: delivery

Revert change that was rebased in
  terraform/cleanup.sh
Labels: component: delivery

feat(docs): add decision record for Delivery CD pipeline project recycling
  docs/decisions/2022-06-cd-pipeline-project-reuse.md
Labels: component: demo services, documentation

Update 2022-06-cd-pipeline-project-reuse.md
  docs/decisions/2022-06-cd-pipeline-project-reuse.md
Labels: component: demo services, documentation

chore(experimental): move IAM resources into iam.tf (#416)
  experimental/conventional-model/terraform/modules/emblem-app/iam.tf
  experimental/conventional-model/terraform/modules/emblem-app/main.tf
  experimental/conventional-model/terraform/modules/ops/main.tf
Labels: none

feat(docs): decide to recycle projects for CD pipeline (#423)
  docs/decisions/2022-06-cd-pipeline-project-reuse.md
Labels: component: demo services, documentation

chore(deps): add renovate.json
  renovate.json
Labels: none

chore(delivery): Enable Renovate for dependency updates (#417)
  renovate.json
Labels: none

Disable IMPORT_IAM for now
  ops/delivery-e2e.cloudbuild.yaml
Labels: component: delivery

feat(delivery): remove *-manager accounts
  terraform/cleanup.sh
Labels: component: delivery

Add *-manager SAs to cleanup script
  terraform/cleanup.sh
Labels: component: delivery

Add bucket removals
  terraform/cleanup.sh
Labels: component: delivery

feat(delivery): add bucket removal to cleanup script
  terraform/cleanup.sh
Labels: component: delivery

chore(deps): update dependency @playwright/test to v1.22.2
  website/e2e-test/package-lock.json
  website/e2e-test/package.json
Labels: component: website

fix: resolves form error preventing cause name to be submitted
  website/static/site.css
  website/templates/create-campaign.html
Labels: component: website

chore(deps): update dependency @playwright/test to v1.22.2 (#434)
  website/e2e-test/package-lock.json
  website/e2e-test/package.json
Labels: component: website

feat(delivery): remove *-manager accounts (#427)
  terraform/cleanup.sh
Labels: component: delivery

Update cleanup.sh
  terraform/cleanup.sh
Labels: component: delivery

fix: resolves form error preventing cause name to be submitted (#435)
  website/static/site.css
  website/templates/create-campaign.html
Labels: component: website

chore: configure renovate rangeStrategy to pin app deps
  docs/decisions/2022-06-automate-dependencies.md
  docs/decisions/2022-06-pin-dependencies.md
  renovate.json
Labels: component: demo services, documentation

fix(deps): pin dependencies
  client-libs/python/requirements.txt
  client-libs/python/test-requirements.txt
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: component: website, component: content-api

chore(deps): update dependency flask to v2.1.2
  content-api/requirements.txt
  website/requirements.txt
Labels: component: website, component: content-api

chore: configure renovate rangeStrategy to pin app deps (#438)
  docs/decisions/2022-06-automate-dependencies.md
  docs/decisions/2022-06-pin-dependencies.md
  renovate.json
Labels: component: demo services, documentation

chore(deps): update dependency @web/dev-server to ^0.1.31
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency @web/rollup-plugin-html to ^1.10.3
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency eslint-config-prettier to ^8.5.0
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

fix(deps): update dependency @reduxjs/toolkit to ^1.8.2
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

fix(deps): update dependency http-proxy-middleware to ^2.0.6
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency @rollup/plugin-commonjs to ^21.1.0
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency @rollup/plugin-node-resolve to ^13.3.0
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

chore(deps): update dependency flask to v2.1.2 (#439)
  content-api/requirements.txt
  website/requirements.txt
Labels: component: website, component: content-api

chore(deps): update dependency prettier to ^2.6.2
  experimental/client-app/package-lock.json
  experimental/client-app/package.json
Labels: none

.github/labeler.yml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the 'License');
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an 'AS IS' BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Labeler assigns GitHub labels to PRs based on changed files.

# component labels are used in release notes.
'component: website':
- 'website/*'
- 'website/**/*'
- 'client-libs/*'
- 'client-libs/**/*'
'component: content-api':
- 'content-api/*'
- 'content-api/**/*'
- 'client-libs/*'
- 'client-libs/**/*'
'component: delivery':
- 'terraform/*'
- 'terraform/**/*'
- 'ops/*'
- 'ops/**/*'
- 'scripts/*'
- 'scripts/**/*'
- 'setup.sh'
'component: demo services':
- 'docs/*'
- 'docs/**/*'
- 'content-api/data/*'
- 'content-api/data/**/*'

# The following labels are under general use evaluation.

'documentation':
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

'tech: gha':
- '.github/workflows/*'
- '.github/labeler.yml'
- '.github/release.yml'

'persona: maintainer':
- '*.md'
- 'CODEOWNERS'
- '.git*'
- '.github/*'
- '.github/**/*'
