Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-05, with the labels that each got.

#382 feat: configure GitHub automated release notes
  .github/release.yml
Labels: component: delivery

#404 fix(website): fix misplaced Jinja tag
  website/templates/errors/403.html
Labels: type: bug

#388 feat(website/e2e-test): add README
  docs/tutorials/website-e2e-test.md
Labels: type: feature request, do not merge

#409 fix: added redirect_uri to required env vars
  docs/website.md
Labels: type: bug

#407 fix(content-api): update Flask version
  content-api/requirements.txt
Labels: type: bug

#405 fix: auto-labeler YAML syntax error
  .github/labeler.yml
Labels: type: bug

#411 refactor(docs): update docs to include website container deployment
  docs/website.md
Labels: documentation, type: docs, component: demo services

#412 refactor(docs): minor clarification to secret directions
  scripts/configure_auth.sh
Labels: type: docs, component: delivery

#413 fix(ops): improve cleanup script robustness
  terraform/cleanup.sh
Labels: type: bug, component: delivery

#396 feat(terraform): add GCP project teardown ability
  terraform/cleanup.sh
Labels: type: feature request, component: delivery

#420 fix(ops): remove stray comma
  terraform/cleanup.sh
Labels: type: bug, component: delivery

#385 feat(ops): add testing image
  ops/e2e-deployer/Dockerfile
Labels: type: feature request, component: delivery

#421 feat(ops): clean up Cloud Run-related topics
  terraform/cleanup.sh
Labels: type: feature request, component: delivery
