Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-10, with the labels that each got.

#686 chore: update renovate schedule (3 weeks)
  renovate.json
Labels: ignore-for-release

#381 testing: limit GitHub Action permissions
  .github/workflows/block-merge.yml
  .github/workflows/style-python.yml
  .github/workflows/style-terraform.yml
Labels: persona: maintainer, tech: gha

#685 fix: seed Firestore via build job
  content-api/data/cloudbuild.yaml
  content-api/data/requirements.txt
  setup.sh
  terraform/modules/emblem-app/main.tf
Labels: type: bug, component: content-api, component: delivery, component: demo services

#675 fix: disable e2e build triggers in terraform ops module
  terraform/modules/ops/build.tf
  terraform/modules/ops/main.tf
  terraform/modules/ops/testing.tf
Labels: type: bug, component: delivery

#652 chore:remove unused cloud-run-manager
  terraform/modules/emblem-app/iam.tf
Labels: component: delivery, ignore-for-release

#688 nit: update comment to use "recommended" instead of best
  website/templates/base.html
Labels: component: website

#689 nit: billings projects link is in beta now
  terraform/clean_project_setup.sh
Labels: component: delivery

#691 feat(issue-557): adding descriptions for build triggers
  terraform/modules/emblem-app/deploy.tf
  terraform/modules/ops/build.tf
  terraform/modules/ops/testing.tf
Labels: type: feature request, component: delivery

#682 refactor(delivery): rename some build triggers
  terraform/modules/ops/build.tf
  terraform/modules/ops/testing.tf
Labels: component: delivery

#694 fix(issue-600): Define project boundaries for Cloud products
  README.md
Labels: documentation, persona: maintainer

#695 fix(issue-655): adding more docs around build triggers in CI/CD flow
  docs/delivery.md
  scripts/configure_delivery.sh
Labels: documentation, component: delivery, component: demo services
