Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-07, with the labels that each got.

#558 nit: fix header
  docs/testing.md
Labels: documentation, component: demo services

#570 fix: website.md configure_auth.sh link
  docs/website.md
Labels: documentation, type: bug, component: demo services

#571 feat: document team structure + Conway's law
  docs/decisions/README.md
Labels: documentation, type: feature request, component: demo services

#576 docs: document experimental model in Contributing guide
  CONTRIBUTING.md
Labels: documentation, persona: maintainer

#585 fix: canary build triggers filter on matching service
  terraform/modules/emblem-app/deploy.tf
Labels: type: bug, component: delivery

#584 fix: canary deploys by intervals of 20% instead of 5%
  ops/canary.cloudbuild.yaml
  ops/deploy.cloudbuild.yaml
Labels: type: bug, component: delivery
