Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-09, with the labels that each got.

#653 doc: generate client library
  docs/client-libraries.md
Labels: documentation, component: demo services

#654 decision: use generated library
  docs/decisions/2022-09-generated-client-library.md
Labels: documentation, component: demo services

#663 fix: update context in api-build.cloudbuild.yaml
  ops/api-build.cloudbuild.yaml
Labels: type: bug, component: delivery

#664 fix: decoupling triggers when an edit is made within e2e-test/
  docs/testing.md
  terraform/modules/ops/build.tf
Labels: documentation, type: bug, component: delivery, component: demo services

#666 fix: adds in _CONTEXT substitution for api-build.cloudbuild.yaml
  ops/api-build.cloudbuild.yaml
  setup.sh
  terraform/modules/ops/build.tf
Labels: type: bug, component: delivery

#665 fix: resolves api_unit_test token creation + datastore permissions issues
  terraform/modules/ops/main.tf
  terraform/modules/ops/testing.tf
  terraform/modules/ops/variables.tf
Labels: type: bug, component: delivery

#671 fix: _SHORT_SHA variable usage
  ops/api-build.cloudbuild.yaml
  ops/web-build.cloudbuild.yaml
  setup.sh
Labels: type: bug, component: delivery

#640 fix: automatically run tests for renovate-bot PRs
  .github/trusted-contribution.yml
Labels: type: bug, persona: maintainer
