Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-12, with the labels that each got.

#709 Proposed DR for Tracing instrumentation
  docs/decisions/2022-11-tracing-with-otel.md
Labels: documentation, component: demo services

#702 feature: adjust prompts in `configure_delivery.sh`
  scripts/configure_delivery.sh
Labels: component: delivery

#720 docs: updates to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, persona: maintainer

#723 fix: terraform build trigger filename parameter
  terraform/modules/emblem-app/deploy.tf
Labels: type: bug, component: delivery

#730 feat: add a terraform cloudbuild config
  ops/terraform.cloudbuild.yaml
Labels: type: feature request, component: delivery

#714 fix: Call sub-scripts with bash instead of sh
  scripts/configure_delivery.sh
  setup.sh
Labels: type: bug, component: delivery

#731 feat: implement minimal release-please config
  .github/workflows/release-please.yml
  version.txt
Labels: type: feature request, persona: maintainer, tech: gha

#738 docs: update docs to fully remove the setup-quickstart tutorial
  README.md
  docs/README.md
  docs/tutorials/setup-quickstart.md
  installation-testing/README.md
Labels: documentation, persona: maintainer, component: demo services

#734 feat: an Emblem bootstrap script
  scripts/bootstrap.sh
Labels: type: feature request, component: delivery

#739 fix(website/e2e-test): update package.json
  website/e2e-test/package-lock.json
Labels: type: bug, component: website

#742 chore: remove unused e2e test module block
  terraform/environments/staging/main.tf
Labels: component: delivery, ignore-for-release

#744 chore: remove stale cleanup script
  cleanup.sh
Labels: ignore-for-release

#745 feat(e2e testing): add E2E testing module to Terraform
  scripts/bootstrap.sh
  terraform/environments/ops/main.tf
  terraform/environments/ops/variables.tf
Labels: type: feature request, component: delivery
