Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-06, with the labels that each got.

#416 chore(experimental): move IAM resources into iam.tf
  experimental/conventional-model/terraform/modules/emblem-app/iam.tf
  experimental/conventional-model/terraform/modules/emblem-app/main.tf
  experimental/conventional-model/terraform/modules/ops/main.tf
Labels: ignore-for-release

#423 feat(docs): decide to recycle projects for CD pipeline
  docs/decisions/2022-06-cd-pipeline-project-reuse.md
Labels: documentation, type: feature request, priority: p1, type: docs, component: demo services

#427 fix(delivery): remove *-manager accounts on cleanup
  terraform/cleanup.sh
Labels: type: bug, component: delivery

#447 feat(delivery): import session data bucket
  setup.sh
Labels: type: feature request, component: delivery

#451 fix(delivery): write project IDs to TF vars
  terraform/cleanup.sh
Labels: type: bug, component: delivery

#464 docs: polish diagrams & add delivery component
  docs/images/application.png
  docs/images/emblem-simplified.png
  docs/images/testing-delivery-pipeline.png
Labels: documentation, component: demo services

#471 testing: update to Python 3.10
  ops/e2e-runner/Dockerfile
  ops/unit-tests.cloudbuild.yaml
Labels: component: delivery

#449 docs(website): complete website docs consolidation
  docs/README.md
  docs/content-api.md
  docs/website.md
  website/README.md
Labels: documentation, component: website, component: demo services

#472 docs: optimize CONTRIBUTING and related resources for new folks
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  docs/decisions/2021-04-cloud-build.md
  docs/testing.md
  docs/tutorials/setup-quickstart.md
  docs/tutorials/setup-walkthrough.md
Labels: documentation, persona: maintainer, component: demo services

#476 feat(terraform): integrate modular terraform
  experimental-setup.sh
  terraform/environments/ops/main.tf
  terraform/environments/ops/variables.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/variables.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
  terraform/modules/emblem-app/iam.tf
  terraform/modules/emblem-app/main.tf
  terraform/modules/emblem-app/services.tf
  terraform/modules/emblem-app/variables.tf
  terraform/modules/ops/environment-build-triggers/main.tf
  terraform/modules/ops/environment-build-triggers/variables.tf
  terraform/modules/ops/main.tf
  terraform/modules/ops/services.tf
  terraform/modules/ops/triggers.tf
  terraform/modules/ops/variables.tf
Labels: type: feature request, component: delivery

#474 chore(docs): fix broken link
  docs/testing.md
Labels: documentation, component: demo services, ignore-for-release

#481 fix: complete terraform experiment cutover
  experimental-setup.sh
  setup.sh
  terraform/app/application/main.tf
  terraform/app/application/output.tf
  terraform/app/application/variables.tf
  terraform/app/main.tf
  terraform/app/outputs.tf
  terraform/app/providers.tf
  terraform/app/variables.tf
  terraform/environments/ops/main.tf
  terraform/environments/ops/variables.tf
  terraform/modules/ops/triggers.tf
  terraform/modules/ops/variables.tf
  terraform/ops/main.tf
  terraform/ops/outputs.tf
  terraform/ops/providers.tf
  terraform/ops/triggers/cloud_build_triggers.tf
  terraform/ops/triggers/variables.tf
  terraform/ops/variables.tf
Labels: type: bug, component: delivery

#480 feat: support single-project mode in auth setup
  scripts/configure_auth.sh
Labels: type: feature request, component: delivery

#484 feat: add content seeding to setup.sh
  setup.sh
Labels: type: feature request, component: delivery

#483 feat(website): migrate to system tests
  ops/web-e2e.cloudbuild.yaml
  terraform/modules/ops/triggers.tf
  website/e2e-test/system-test.spec.js
Labels: type: feature request, component: website, component: delivery

#487 feat(delivery): integrate TF refactor into cleanup script
  terraform/cleanup.sh
Labels: type: feature request, component: delivery

#491 fix: import flask decorator
  website/views/donations.py
Labels: type: bug, component: website

#485 docs: create the happy user path
  docs/README.md
Labels: documentation, component: demo services

#492 Fix: give API access to Firestore
  terraform/modules/emblem-app/iam.tf
Labels: component: delivery

#495 feat(delivery): add option to skip seeding prompt
  setup.sh
Labels: type: feature request, component: delivery

#493 fix: move seeding after terraform and apply to each environment
  content-api/data/seed_database.py
  content-api/data/seed_test_approver.py
  setup.sh
Labels: type: bug, component: content-api, component: delivery, component: demo services

#494 feat(delivery): add reusable project setup script
  installation-testing/reusable-project-setup.sh
Labels: type: feature request

#490 feat(delivery): add E2E Cloud Build config
  installation-testing/builds/delivery-e2e.cloudbuild.yaml
Labels: type: feature request, component: delivery

#501 fix(delivery): make sure $approver is always defined
  setup.sh
Labels: type: bug, component: delivery

#499 fix: use cat instead of pr
  setup.sh
Labels: type: bug, component: delivery

#489 feat(delivery): document roles used in CI pipeline
  installation-testing/terraform/modules/emblem-app/delivery_testing.tf
  installation-testing/terraform/modules/emblem-app/variables.tf
  installation-testing/terraform/modules/ops/delivery_testing.tf
  installation-testing/terraform/modules/ops/variables.tf
  terraform/modules/emblem-app/iam.tf
Labels: type: feature request, component: delivery

#496 feat(delivery): move optional-bucket logic to Terraform
  terraform/environments/prod/main.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
  terraform/modules/emblem-app/main.tf
  terraform/modules/emblem-app/variables.tf
Labels: type: feature request, component: delivery

#503 refactor(terraform): reorganize Cloud Build handling in ops project
  setup.sh
  terraform/environments/ops/main.tf
  terraform/environments/ops/variables.tf
  terraform/modules/ops/build.tf
  terraform/modules/ops/environment-build-triggers/main.tf
  terraform/modules/ops/environment-build-triggers/variables.tf
  terraform/modules/ops/main.tf
  terraform/modules/ops/services.tf
  terraform/modules/ops/testing.tf
  terraform/modules/ops/triggers.tf
  terraform/modules/ops/variables.tf
Labels: component: delivery

#507 feat: add SKIP_SEEDING env var
  setup.sh
Labels: type: feature request, component: delivery

#509 feat(delivery): manage Cloud Build deploy triggers in terraform
  ops/canary.cloudbuild.yaml
  ops/deploy.cloudbuild.yaml
  scripts/pubsub_triggers.sh
  terraform/environments/prod/main.tf
  terraform/environments/prod/variables.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
  terraform/modules/emblem-app/deploy.tf
  terraform/modules/emblem-app/iam.tf
  terraform/modules/emblem-app/main.tf
  terraform/modules/emblem-app/variables.tf
Labels: type: feature request, component: delivery

#513 fix: skip session bucket creation
  installation-testing/builds/delivery-e2e.cloudbuild.yaml
Labels: type: bug

#512 fix: fix SKIP_SEEDING not having a default
  installation-testing/builds/delivery-e2e.cloudbuild.yaml
  setup.sh
Labels: type: bug, component: delivery

#508 fix: move + update cleanup script
  installation-testing/builds/delivery-e2e.cloudbuild.yaml
  installation-testing/terraform/cleanup.sh
Labels: type: bug

#444 fix: add labeling and release exclusion on experimental work
  .github/labeler.yml
  .github/release.yml
Labels: type: bug, persona: maintainer, tech: gha

#514 chore: delete old cleanup file
  terraform/cleanup.sh
Labels: component: delivery, ignore-for-release

#520 docs: what's in the box?
  README.md
  docs/README.md
Labels: documentation, persona: maintainer, component: demo services

#521 docs: complete decision record migration and add story arcs
  docs/README.md
  docs/decisions/2021-07-cloud-identity.md
  docs/decisions/2021-07-gcb-pubsub-triggers.md
  docs/decisions/2021-07-user-app-auth.md
  docs/decisions/2021-08-13-session-cookies.md
  docs/decisions/2021-08-17-openapi-tools.md
  docs/decisions/2021-11-refreshing-id-tokens.md
  docs/decisions/2021-11-user-authentication.md
  docs/decisions/README.md
Labels: documentation, component: demo services

#522 fix: fix USE_DEFAULT_ACCOUNT being unbound
  setup.sh
Labels: type: bug, component: delivery

#523 fix: remove redundant variable in Cloud Build
  installation-testing/builds/delivery-e2e.cloudbuild.yaml
Labels: type: bug

#524 fix: add missing APIs
  terraform/modules/emblem-app/services.tf
  terraform/modules/ops/services.tf
Labels: type: bug, component: delivery

#525 feat: add deployer image Cloud Build config
  installation-testing/builds/e2e-deployer.cloudbuild.yaml
Labels: type: feature request

#526 chore: remove now-unused bucket import script
  installation-testing/reusable-project-setup.sh
Labels: ignore-for-release

#475 docs(testing): document automated testing systems
  docs/testing.md
Labels: documentation, component: demo services

#528 chore: move Dockerfile to installation testing dir
  installation-testing/containers/e2e-deployer/Dockerfile
Labels: ignore-for-release

#527 feat: add README for delivery tests
  installation-testing/README.md
Labels: documentation, type: feature request

#531 docs: add delivery documentation
  docs/delivery.md
Labels: documentation, component: demo services

#530 feat!: reorganize installation testing TF + add builds
  installation-testing/terraform/modules/ops/data.tf
  installation-testing/terraform/modules/ops/iam.tf
  installation-testing/terraform/modules/ops/triggers.tf
  installation-testing/terraform/modules/ops/variables.tf
Labels: type: feature request, semver: major

#532 fix: PR trigger in autolabeler
  .github/workflows/auto-label.yml
Labels: type: bug, persona: maintainer, tech: gha

#538 fix: nightly cron running every 2 minutes
  terraform/modules/ops/main.tf
Labels: type: bug, component: delivery

#537 fix: add deploy_session_bucket var to prod
  terraform/environments/prod/variables.tf
Labels: type: bug, component: delivery

#534 fix: use beta for gcloud billing
  docs/tutorials/setup-quickstart.md
  docs/tutorials/setup-walkthrough.md
Labels: documentation, type: bug, component: demo services

#539 fix: stop deploy updates removing service configuration
  ops/deploy.cloudbuild.yaml
Labels: type: bug, component: delivery

#541 refactor: move delivery setup late and separate, use tfvars
  scripts/configure_delivery.sh
  setup.sh
Labels: component: delivery

#548 feat(ops): consolidate testing Artifact Registry repos
  installation-testing/terraform/cleanup.sh
  ops/e2e-runner-build.cloudbuild.yaml
  ops/web-e2e.cloudbuild.yaml
  terraform/modules/ops/build.tf
  terraform/modules/ops/main.tf
Labels: type: feature request, component: delivery

#535 docs: add session cookie decision content
  docs/decisions/2021-08-13-session-cookies.md
Labels: documentation, component: demo services

#551 fix(delivery): fix incorrect Dockerfile path
  installation-testing/builds/e2e-deployer.cloudbuild.yaml
Labels: type: bug

#556 docs: fix img url
  docs/delivery.md
Labels: documentation, component: demo services

#543 docs: conventional Terraform decision log
  docs/decisions/2022-06-terraform-folder-structure.md
Labels: documentation, component: demo services
