Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-11, with the labels that each got.

#693 refactor: Streamline setup.sh
  cleanup.sh
  setup.sh
Labels: component: delivery

#700 fix: add project flag to `gcloud builds describe` in `setup.sh`
  setup.sh
Labels: type: bug, component: delivery

#704 refactor: update readme to enable build api for first step
  README.md
Labels: documentation, persona: maintainer

#706 chore: touch up decision records
  docs/decisions/2021-03-avoid-js-frameworks.md
  docs/decisions/2021-07-cloud-identity.md
  docs/decisions/2021-07-gcb-pubsub-triggers.md
  docs/decisions/2021-10-session-data-storage.md
  docs/decisions/2022-01-10-client-libraries.md
  docs/decisions/2022-02-revisiting-js-framework.md
  docs/decisions/2022-09-generated-client-library.md
Labels: documentation, component: demo services, ignore-for-release
