Repository GoogleCloudPlatform/emblem, pull requests merged in 2022-08, with the labels that each got.

#592 docs: Fix typo
  docs/decisions/README.md
Labels: documentation, component: demo services

#575 feat:use remote terraform state in setup
  setup.sh
  terraform/environments/ops/backend.tf
  terraform/environments/prod/backend.tf
  terraform/environments/staging/backend.tf
Labels: type: feature request, component: delivery

#598 feat: add end-of-script wrap-up message to auth and setup
  scripts/configure_auth.sh
  setup.sh
Labels: type: feature request, component: delivery

#615 fix:clarify repo owner prompt in setup
  setup.sh
Labels: type: bug, component: delivery

#609 Fix: don't dump data to logs
  website/views/campaigns.py
Labels: component: website

#583 fix: restore _BODY substitution to Pub/Sub triggered builds
  ops/canary.cloudbuild.yaml
  ops/deploy.cloudbuild.yaml
  terraform/modules/emblem-app/deploy.tf
Labels: type: bug, component: delivery

#596 fix: configure_auth gets region from REGION env var
  scripts/configure_auth.sh
Labels: type: bug, component: delivery

#618 delete conventional model experiment dir
  experimental/conventional-model/README.md
  experimental/conventional-model/terraform/environments/ops/main.tf
  experimental/conventional-model/terraform/environments/ops/variables.tf
  experimental/conventional-model/terraform/environments/staging/main.tf
  experimental/conventional-model/terraform/environments/staging/variables.tf
  experimental/conventional-model/terraform/modules/emblem-app/iam.tf
  experimental/conventional-model/terraform/modules/emblem-app/main.tf
  experimental/conventional-model/terraform/modules/emblem-app/services.tf
  experimental/conventional-model/terraform/modules/emblem-app/variables.tf
  experimental/conventional-model/terraform/modules/ops/main.tf
  experimental/conventional-model/terraform/modules/ops/services.tf
  experimental/conventional-model/terraform/modules/ops/triggers.tf
  experimental/conventional-model/terraform/modules/ops/variables.tf
Labels: documentation, component: experimental

#559 Decision: allow singleton test fixtures
  docs/decisions/2022-07-test-fixtures.md
Labels: documentation, automerge, component: demo services

#586 Decision: allow programmatic IAM provisioning
  docs/decisions/2022-08-programmatic-iam-policies.md
Labels: documentation, automerge, component: demo services

#574 docs: prefer Terraform for infra management
  CONTRIBUTING.md
Labels: documentation, persona: maintainer

#616 feat: allow for specifying REGION in setup.sh
  setup.sh
Labels: type: feature request, component: delivery

#617 feat: restrict gcloud builds to appropriate source files
  ops/api-build.cloudbuild.yaml
  ops/e2e-runner-build.cloudbuild.yaml
  ops/web-build.cloudbuild.yaml
  ops/web-build.gcloudignore
  setup.sh
Labels: type: feature request, component: delivery

#621 fix: only allow numbers in donation amount
  website/templates/donations/new-donation.html
Labels: type: bug, component: website

#624 fix(issue-608): hide create campaign link
  website/templates/auth/logout.html
  website/templates/home.html
  website/views/campaigns.py
Labels: type: bug, component: website

#619 fix(issue-607): add link back to original campaign
  website/static/site.css
  website/templates/donations/view-donation.html
Labels: type: bug, component: website

#622 fix: ensure correct working dir for e2e runner
  ops/e2e-runner-build.cloudbuild.yaml
Labels: type: bug, component: delivery

#623 fix: pin Playwright Dockerfile version
  ops/e2e-runner/Dockerfile
Labels: type: bug, component: delivery

#632 chore: update renovate-bot for experimental
  renovate.json
Labels: ignore-for-release

#643 chore: cleanup old experimental dirs
  experimental/flex-env-tf/README.md
  experimental/flex-env-tf/aggregator/main.tf
  experimental/flex-env-tf/aggregator/outputs.tf
  experimental/flex-env-tf/app/application/main.tf
  experimental/flex-env-tf/app/application/output.tf
  experimental/flex-env-tf/app/application/variables.tf
  experimental/flex-env-tf/app/main.tf
  experimental/flex-env-tf/app/outputs.tf
  experimental/flex-env-tf/app/providers.tf
  experimental/flex-env-tf/app/variables.tf
  experimental/flex-env-tf/ops/main.tf
  experimental/flex-env-tf/ops/outputs.tf
  experimental/flex-env-tf/ops/providers.tf
  experimental/flex-env-tf/ops/variables.tf
  experimental/flex-env-tf/test.sh
  experimental/single-multi-env-tf/application/main.tf
  experimental/single-multi-env-tf/application/output.tf
  experimental/single-multi-env-tf/application/variables.tf
  experimental/single-multi-env-tf/application_service.tf
  experimental/single-multi-env-tf/main.tf
  experimental/single-multi-env-tf/output.tf
  experimental/single-multi-env-tf/providers.tf
  experimental/single-multi-env-tf/test.sh
  experimental/single-multi-env-tf/variables.tf
Labels: documentation, ignore-for-release, component: experimental

#626 fix: remove gcloud login from Cloud Shell tutorial
  docs/tutorials/setup-walkthrough.md
Labels: documentation, automerge, type: bug, component: demo services

#620 feat: add link to logs
  website/static/site.css
  website/templates/donations/view-donation.html
  website/views/donations.py
Labels: type: feature request, component: website

#627 docs: add note about timeboxing experiments
  experimental/README.md
Labels: documentation, component: experimental

#644 refactor: Terraform to seed approver and donors test data to Firestore
  terraform/modules/emblem-app/files/templates/approvers.tftpl
  terraform/modules/emblem-app/files/templates/donors.tftpl
  terraform/modules/emblem-app/files/test-data/donors.json
  terraform/modules/emblem-app/firestore.tf
  terraform/modules/emblem-app/variables.tf
Labels: component: delivery

#650 refactor: Terraform to seed causes and donations test data to Firestore
  terraform/modules/emblem-app/files/templates/campaigns.tftpl
  terraform/modules/emblem-app/files/templates/causes.tftpl
  terraform/modules/emblem-app/files/templates/donations.tftpl
  terraform/modules/emblem-app/files/test-data/campaigns.json
  terraform/modules/emblem-app/files/test-data/causes.json
  terraform/modules/emblem-app/files/test-data/donations.json
  terraform/modules/emblem-app/firestore.tf
Labels: component: delivery
