Repository GoogleCloudPlatform/emblem, pull requests merged in 2023-01, with the labels that each got.

#749 move `e2e-testing` from `website/` to `testing/`
  ops/web-e2e.cloudbuild.yaml
  terraform/modules/ops/build.tf
  testing/website-e2e/package-lock.json
  testing/website-e2e/package.json
  testing/website-e2e/smoke-test.spec.js
  testing/website-e2e/system-test.spec.js
Labels: component: delivery

#751 feat: add in unseed database functionality for emblem cleanup
  content-api/data/cloudbuild.yaml
  content-api/data/seed_database.py
  content-api/data/seed_test_approver.py
  setup.sh
Labels: type: feature request, component: content-api, component: delivery, component: demo services

#748 feat(E2E testing): specify content API URL via `data` element
  scripts/bootstrap.sh
  scripts/configure_delivery.sh
  setup.sh
  terraform/environments/ops/main.tf
  terraform/environments/ops/variables.tf
Labels: type: feature request, component: delivery

#758 fix(ops): enable Cloud Run API in Terraform
  terraform/environments/ops/main.tf
  terraform/modules/ops/services.tf
Labels: type: bug, component: delivery

#759 feat(ops): split up E2E testing Cloud Build config
  ops/web-e2e.cloudbuild.yaml
  website/requirements.txt
Labels: type: feature request, component: website, component: delivery

#762 use built-in project var in e2e module
  ops/web-e2e.cloudbuild.yaml
  terraform/modules/website-e2e-test/testing.tf
Labels: component: delivery

#765 fix(testing): move E2E image build to configure-delivery script
  scripts/configure_delivery.sh
  setup.sh
Labels: type: bug, component: delivery

#768 fix: fixing minor bugs in client setup script and clarifying README
  client-app/README.md
  client-app/scripts/configure_auth.sh
  client-app/scripts/start.sh
  client-app/src/containers/donation/donation-page.js
Labels: documentation, type: bug

#717 fix(docs): update testing documentation
  docs/testing.md
Labels: documentation, type: bug, component: demo services
