Repository GoogleCloudPlatform/emblem, pull requests merged in 2023-03, with the labels that each got.

#807 testing: improve groups, labels, pacing, schedule of dep updates
  docs/decisions/2023-03-dependency-updates.md
  renovate.json
  renovate.json5
Labels: documentation, type: cleanup, component: demo services

#816 fix issue 815 - document requirement for global repo connection
  README.md
  scripts/bootstrap.sh
Labels: documentation, component: delivery, persona: maintainer

#820 chore: update to python 3.11 in playwright test runner image
  ops/e2e-runner/Dockerfile
Labels: component: delivery, ignore-for-release

#821 fix: correct client library docs ref to openapi.yaml path
  docs/client-libraries.md
Labels: documentation, component: demo services
